@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model BlogSaddnes.Models.Blog

@{
    ViewData["Title"] = "Details";
    var currentUserId = UserManager.GetUserId(User);
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner!.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posts)
        </dt>
        <dd class = "col-sm-10">
            <form asp-action="MyBlogPosts" asp-controller="Posts" method="post">
                        <input type="submit" class="btn btn-primary" value="Posts">
                        <input type="hidden" name="BlogId" id="BlogId" value="@Model.Id">
                        <input type="hidden" name="OwnerId" id="OwnerId" value="@currentUserId">
                    </form>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
